body {
    background-image: url('/images/taustakuva.jpg');
    background-size: cover;
    color: black;
}

.container {
    background-color: rgba(233,233,233,0.33) !important;
    padding: 25px !important;
    border-radius: 25px;
}

input {
    background-color: black !important;
    color: #0f0 !important;
    text-align: center !important;
    font-size: 5em !important;
    /*
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    */
    height: auto !important;
    width: 100px !important;
    border: 0 !important;
    border-radius: 20px !important;
}

.editControl {
    display: none;
}

button {
    height: 60px !important;
}

.modal-dialog {
    color: black;
}
.modal-body button {
    min-height: 100px;
    min-width: 200px;
    color: white;
    font-size: 3em;
}
.btn-home {
    background-color: darkgreen;
}
.btn-away {
    background-color: darkred;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 1px 0 0 #fff, 2px 0 0 #fff, -1px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 2px 0 #fff, 0 -1px 0 #fff, 0 -2px 0 #fff, 3px 3px 3px #000; 
}
h2 {
    display: inline;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 0 0 #fff, 2px 0 0 #fff, -1px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 2px 0 #fff, 0 -1px 0 #fff, 0 -2px 0 #fff, 3px 3px 3px #000;
}

#turnTriangleLeftHome,
#turnTriangleRightHome, 
#turnTriangleLeftAway,
#turnTriangleRightAway
{
    display: none;
    color: red;
    font-size: 2em;
}
